<h1>{{ page.title }}</h1>

{% liquid 
    assign sortedPageSections = page.content | split: '[$section$]'
%}
{% render 'add2Cart_button_external' featuredProduct: all_products['soft-99-glaco-de-cleaner'] %}

{% for pageSection in sortedPageSections %}
    {% liquid 
        assign typeArray = pageSection | split: '[$type$]'
        assign type = typeArray[1]
        assign titleArray = pageSection | split: '[$title$]'
        assign title = titleArray[1]
        assign contentArray = pageSection | split: '[$content$]'
        assign content = contentArray[1]
        assign subTitleArray = content | split: '[$seperator$]'
        assign subTitle = subTitleArray[0]
        assign content = subTitleArray[1]
        assign imgArray = pageSection | split: '[$img$]'
        assign img = imgArray[1]
        assign colorArray = pageSection | split: '[$color$]'
        assign color = colorArray[1]
    %}
    {% case type %}
        {% when "banner" %}
            <div class = "page__section__{{ type }}" {% if color %}data-color = "{{ color }}"{% endif %}>
                <h3>{{ title }}</h3>
                {% if img %}
                    <img loading = "lazy" src = "{{ img }}" height = 400  width = "unset">
                {% endif %}
            </div>
        {% when "grid2s" %}
            <div class = "page__section__{{ type }}" {% if color %}data-color = "{{ color }}"{% endif %}>
                <h3>{{ subTitle }}</h3>
                {% if img %}
                    <img loading = "lazy" src = "{{ img }}" height = 400  width = "unset">
                {% endif %}
                <p>{{ content }}</p>
            </div>
        {% when "block" %}
            <div class = "page__section__{{ type }}" {% if color %}data-color = "{{ color }}"{% endif %}>
                <h3>{{ subTitle }}</h3>
                {% if img %}
                    <img loading = "lazy" src = "{{ img }}" height = 400  width = "unset">
                {% endif %}
                <p>{{ content }}</p>
            </div>
    {% endcase %}

{% endfor %}