<link
  rel="stylesheet"
  href="{{ 'style--homepage.css' | asset_url }}"
  type="text/css"
>
<div class="mainSlider__section">
  <div class="mainSlider__section__container">
    <div class="custom-section">
      <div class="rectslider-container">
        <div class="rectslider-imgs-container" data-homePage_engagement_type="homePage_main_slider">
          {% for block in section.blocks %}
            <a href="{{ block.settings.image_link }}">
              <picture>
                <source media="(min-width:681px)" srcset="{{ block.settings.image_1800 | image_url: width: 1800 }}">
                <source media="(max-width:680px)" srcset="{{ block.settings.image_720 | image_url: width: 720 }}">
                <img loading="lazy" src="{{ block.settings.image_720 | image_url: width: 720 }}" height = unset width = unset> </picture
            ></a>
          {% endfor %}
        </div>
        <i id="rectsliderleft" class="fas fa-angle-left"></i>
        <i id="rectsliderright" class="fas fa-angle-right"></i>
      </div>
      <div class="rectsliderdots-container"></div>
    </div>
    <div class="rectslidertextboxcontainer">
      {% for block in section.blocks %}
        <div data-linkto="{{ forloop.index | minus: 1 }}" class="rectslidertextbox">
          <p data-linkto="{{ forloop.index | minus: 1 }}">
            {{ block.settings.banner_title -}}
            <br>
            {{ block.settings.banner_description }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script defer="defer" src="{{ 'script--homePage--heroSlider.js' | asset_url }}"></script>

{% schema %}
{
  "name": "HomePage slideShow",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main image"
    },
    {
      "type": "text",
      "id": "text-id",
      "default": "default",
      "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "HomePage banners",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1800",
          "label": "Image for desktop"
        },
        {
          "type": "image_picker",
          "id": "image_720",
          "label": "Image for mobile"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Banner link"
        },
        {
          "type": "text",
          "id": "banner_description",
          "label": "Banner description"
        },
        {
          "type": "text",
          "id": "banner_title",
          "label": "Banner title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "HomePage slideShow",
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "banner"
        },
        {
          "type": "banner"
        },
        {
          "type": "banner"
        },
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}
