{% liquid
  assign original_total_price = cart.original_total_price
  assign total_price = cart.total_price
  assign default_shippingFee = section.settings.shipping_fee | times: 100
  assign shippingFee = section.settings.shipping_fee | times: 100
  assign system_discount = cart.total_discount
  assign special_discount = 0
  assign freeShipPrice = section.settings.free_shipping_price | times: 100
  assign save10Price = section.settings.save10_price | times: 100
  assign free_shippingPrompt = section.settings.free_shippingPrompt
  assign no_free_shippingPrompt = section.settings.no_free_shippingPrompt
  assign special_discount_Prompt = section.settings.special_discount_Prompt
  assign no_special_discount_Prompt = section.settings.no_special_discount_Prompt
  assign no_system_discount_Prompt = section.settings.no_system_discount_Prompt
%}

{% if section.settings.free_shipping_on == true and total_price >= freeShipPrice %}
  {% liquid
    assign shippingFee = 0
  %}
{% endif %}

{% if section.settings.save10_on == true and total_price >= save10Price %}
  {% liquid
    assign special_discount = total_price | divided_by: 10
  %}
{% endif %}
<div class = "page-width"
  id="custom_discount_and_shipping_policies"
  data-save10="{{ section.settings.save10_on }}"
  data-freeShip="{{ section.settings.free_shipping_on }}"
  data-free_shippingPrompt="{{free_shippingPrompt}}"
  data-no_free_shippingPrompt="{{no_free_shippingPrompt}}"
  data-special_discount_Prompt="{{special_discount_Prompt}}"
  data-no_special_discount_Prompt="{{no_special_discount_Prompt}}"
  data-default_shippingFee="{{ default_shippingFee }}"
  data-freeShipPrice="{{freeShipPrice}}"
  data-save10Price="{{save10Price}}"
>
  <h2>折扣及運費</h2>
  {% if section.settings.free_shipping_on %}
    <div type="freeShipping_prompt_block">
      <p>current shipping fee:</p>
      <p type="money">{{ shippingFee | money }}</p>
      {% if shippingFee == 0 %}
        <p type="discount_prompt">{{ free_shippingPrompt }}</p>
        {% else %}
        <p type="discount_prompt">{{ no_free_shippingPrompt }}</p>
      {%- endif %}
    </div>
  {% endif %}

  {% if section.settings.system_discount_on %}
    <div type="systemDiscount_prompt_block">
      <p>system discount:</p>
      <p type="money">{{ system_discount | money }}</p>
      {% if system_discount > 0 %}
        <p type="discount_prompt">
          {% for campaign in cart.cart_level_discount_applications %}
            {% assign comma = ', ' %}
            {% if forloop.last %}
              {% assign comma = '' %}
            {% endif %}
            {{ campaign | append: comma }}
          {% endfor %}
        </p>
      {% else %}
        <p type="discount_prompt">{{ no_system_discount_Prompt }}</p>
      {% endif %}
    </div>
  {% endif %}

  {% if section.settings.save10_on %}
  <div type="specialDiscount_prompt_block">
    <p>special discount:</p>
    <p type="money">{{ special_discount | money }}</p>
    <div>
      {% if special_discount > 0 %}
        <p type="discount_prompt">{{ special_discount_Prompt }}</p>
      {% else %}
        <p type="discount_prompt">{{ no_special_discount_Prompt }}</p>
      {%- endif %}
    </div>
  </div>
{% endif %}

  <div type="total_discount_block">
    <p>total discount:</p>
    <p id="total_discount">{{ shippingFee | minus: default_shippingFee | abs | plus: system_discount | plus: special_discount | money }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Cart discount reminder",
  "settings": [
    {
      "type": "number",
      "id": "free_shipping_price",
      "label": "Free shipping price"
    },
    {
      "type": "number",
      "id": "shipping_fee",
      "label": "Flat shipping fee"
    },
    {
      "type": "number",
      "id": "save10_price",
      "label": "SAVE10 price"
    },
    {
      "type": "checkbox",
      "id": "save10_on",
      "label": "SAVE10 available",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "free_shipping_on",
      "label": "FreeShipping available",
      "default": true
    },
    { "type": "checkbox", "id": "system_discount_on", "label": "Display system discount", "default": true },
    {
      "type": "text",
      "id": "free_shippingPrompt",
      "label": "Free shipping prompt",
      "default": "免運費"
    },
    {
      "type": "text",
      "id": "no_free_shippingPrompt",
      "label": "No free shipping prompt"
    },
    {
      "type": "text",
      "id": "special_discount_Prompt",
      "label": "Special discount prompt",
      "default": "免運費"
    },
    {
      "type": "text",
      "id": "no_special_discount_Prompt",
      "label": "No special discount prompt"
    },
    {
      "type": "text",
      "id": "no_system_discount_Prompt",
      "label": "No system discount prompt"
    }
  ]
}
{% endschema %}
