{% liquid
  assign original_total_price = cart.original_total_price
  assign total_price = cart.total_price
  assign default_shippingFee = section.settings.shipping_fee | times: 100
  assign shippingFee = section.settings.shipping_fee | times: 100
  assign system_discount = cart.total_discount
  assign special_discount = 0
  assign freeShipPrice = section.settings.free_shipping_price | times: 100
  assign save10Price = section.settings.save10_price | times: 100
  assign free_shippingPrompt = section.settings.free_shippingPrompt
  assign no_free_shippingPrompt = section.settings.no_free_shippingPrompt
  assign special_discount_Prompt = section.settings.special_discount_Prompt
  assign no_special_discount_Prompt = section.settings.no_special_discount_Prompt
  assign no_system_discount_Prompt = section.settings.no_system_discount_Prompt
%}

{% if section.settings.free_shipping_on == true and total_price >= freeShipPrice %}
  {% liquid
    assign shippingFee = 0
  %}
{% endif %}

{% if section.settings.save10_on == true and total_price >= save10Price %}
  {% liquid
    assign special_discount = total_price | divided_by: 10
  %}
{% endif %}
<div class="page-width cart_section_standard">
  <div class="cart_section_standard_container">
    <h2 class="cart_section_standard_container_title">折扣及運費</h2>
    <div class="cart_section_discount_Prompt_grid">
      <div
        id="custom_discount_and_shipping_policies"
        data-save10="{{ section.settings.save10_on }}"
        data-freeShip="{{ section.settings.free_shipping_on }}"
        data-free_shippingPrompt="{{free_shippingPrompt}}"
        data-no_free_shippingPrompt="{{no_free_shippingPrompt}}"
        data-special_discount_Prompt="{{special_discount_Prompt}}"
        data-no_special_discount_Prompt="{{no_special_discount_Prompt}}"
        data-default_shippingFee="{{ default_shippingFee }}"
        data-freeShipPrice="{{freeShipPrice}}"
        data-save10Price="{{save10Price}}"
      >
        {% if section.settings.free_shipping_on %}
          <div class = "discount_prompt_block" type="freeShipping_prompt_block">
            <p class = "discount_prompt_block_title">current shipping fee:</p>
            <div class="discount_prompt_feesWrapper">
              <span class = "discount_prompt_price" type="money">{{ shippingFee | money }}</span>
              {% if shippingFee == 0 %}
                <span class="badge price__badge-sale color-accent-2" type="discount_prompt">
                  {{- free_shippingPrompt -}}
                </span>
              {% else %}
                <span class="badge price__badge-sale color-accent-3" type="discount_prompt">
                  {{- no_free_shippingPrompt -}}
                </span>
              {%- endif %}
            </div>
          </div>
        {% endif %}

        {% if section.settings.system_discount_on %}
          <div class = "discount_prompt_block" type="systemDiscount_prompt_block">
            <p class = "discount_prompt_block_title">system discount:</p>
            <div class="discount_prompt_feesWrapper">
              <span class = "discount_prompt_price" type="money">{{ system_discount | money }}</span>
              {% if system_discount > 0 %}
                <span class="badge price__badge-sale color-accent-1" type="discount_prompt">
                  {% for campaign in cart.cart_level_discount_applications %}
                    {% assign comma = ', ' %}
                    {% if forloop.last %}
                      {% assign comma = '' %}
                    {% endif %}
                    {{ campaign | append: comma }}
                  {% endfor %}
                </span>
              {% else %}
                <span class="badge price__badge-sale color-accent-3" type="discount_prompt">
                  {{- no_system_discount_Prompt -}}
                </span>
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if section.settings.save10_on %}
          <div class = "discount_prompt_block" type="specialDiscount_prompt_block">
            <p class = "discount_prompt_block_title">special discount:</p>
            <div class="discount_prompt_feesWrapper">
              <span class = "discount_prompt_price" type="money">{{ special_discount | money }}</span>
              {% if special_discount > 0 %}
                <span class="badge price__badge-sale color-accent-1" type="discount_prompt">
                  {{- special_discount_Prompt -}}
                </span>
              {% else %}
                <span class="badge price__badge-sale color-accent-3" type="discount_prompt">
                  {{- no_special_discount_Prompt -}}
                </span>
              {%- endif %}
            </div>
          </div>
        {% endif %}

        <div class = "total_discount_block" type="total_discount_block">
          <p class = "total_discount_title">total discount:</p>
          <p class = "total_discount_price" id="total_discount">
            {{
              shippingFee
              | minus: default_shippingFee
              | abs
              | plus: system_discount
              | plus: special_discount
              | money
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Cart discount reminder",
  "settings": [
    {
      "type": "number",
      "id": "free_shipping_price",
      "label": "Free shipping price"
    },
    {
      "type": "number",
      "id": "shipping_fee",
      "label": "Flat shipping fee"
    },
    {
      "type": "number",
      "id": "save10_price",
      "label": "SAVE10 price"
    },
    {
      "type": "checkbox",
      "id": "save10_on",
      "label": "SAVE10 available",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "free_shipping_on",
      "label": "FreeShipping available",
      "default": true
    },
    { "type": "checkbox", "id": "system_discount_on", "label": "Display system discount", "default": true },
    {
      "type": "text",
      "id": "free_shippingPrompt",
      "label": "Free shipping prompt",
      "default": "免運費"
    },
    {
      "type": "text",
      "id": "no_free_shippingPrompt",
      "label": "No free shipping prompt"
    },
    {
      "type": "text",
      "id": "special_discount_Prompt",
      "label": "Special discount prompt",
      "default": "免運費"
    },
    {
      "type": "text",
      "id": "no_special_discount_Prompt",
      "label": "No special discount prompt"
    },
    {
      "type": "text",
      "id": "no_system_discount_Prompt",
      "label": "No system discount prompt"
    }
  ]
}
{% endschema %}
