{% liquid
  assign sortedPageSections = page.content | split: '[$section$]'
%}

{{ 'style--page--landing.css' | asset_url | stylesheet_tag }}

<div class="page-width  landing__section">
  <div class="landing__section__container">
    <h1>{{ page.title }}</h1>
    {% for pageSection in sortedPageSections %}
      {% liquid
        assign typeArray = pageSection | split: '[$type$]'
        assign type = typeArray[1]
        assign titleArray = pageSection | split: '[$title$]'
        assign title = titleArray[1]
        assign contentArray = pageSection | split: '[$content$]'
        assign content = contentArray[1]
        assign subTitleArray = content | split: '[$seperator$]'
        assign subTitle = subTitleArray[0]
        assign content = subTitleArray[1]
        assign imgArray = pageSection | split: '[$img$]'
        assign img = imgArray[1]
        assign colorArray = pageSection | split: '[$color$]'
        assign color = colorArray[1]
      %}
      {% case type %}
        {% when 'banner' %}
          <p>{{ title }}</p>
          <div class="landing__section__container__{{ type }}"{% if color %}  data-color="{{ color }}"{% endif %}>
            {% if img %}
              <img loading="lazy" src="{{ img }}" height="400" width="unset">
            {% endif %}
          </div>
        {% when 'grid2s' %}
            <div class="landing__section__container__{{ type }}" {% if color %} data-color="{{ color }}" {% endif %}>
                {% if img %}
                    <div class="landing__section__container__grid2s__imgContent">
                        <img class="landing__section__container__grid2s__imgContent__img" loading="lazy" src="{{ img }}" height="400" width="unset">
                    </div>
                {% endif %}
                <div class="landing__section__container__grid2s__textContent">
                <h3>{{ subTitle }}</h3>
                <p>{{ content }}</p>
            </div>
          </div>
        {% when 'block' %}
            <div class="landing__section__container__{{ type }}" {% if color %}   data-color="{{ color }}" {% endif %}> 
            {% if img %}
                <div class="landing__section__container__block__imgContent">
                    <img class="landing__section__container__block__imgContent__img" loading="lazy" src="{{ img }}" height="400" width="unset">
                </div>
            {% endif %}
            <div class="landing__section__container__block__textContent">
                <h3>{{ subTitle }}</h3>
                <p>{{ content }}</p>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>
