<link rel="stylesheet" href="{{ 'style--homepage.css' | asset_url }}" type="text/css">
<link rel="stylesheet" href="{{ 'style--page-navi.css' | asset_url }}" type="text/css">
<div class="wrapper">
        <div class = "para">
          <h1 class = para__mainH1>MOOBI <br>汽車維修教學</h1>
          <p class = para__mainP> DIY 車身修復，車房以外的選擇</p>
          <img class = "para__item01" src = 'https://cdn.shopify.com/s/files/1/0046/0990/0618/files/navi_banner_background.png?v=1635687461'>
          <img class = "para__item02" src = 'https://cdn.shopify.com/s/files/1/0046/0990/0618/files/navi_banner_foreground.png?v=1635687460'>
      </div>

<div class="repairNavi__section spacer--grey" style="box-shadow: 0px 4px 5px 2px rgba(60,60,60,0.1)">
  <div class="repairNavi__section__container">
    <div class="repairNavi__section__container__features">
      <div class="repairNavi__section__container__features__item">
        <h2 class = "repairNavi__section__container__features__item__h2">Let's begin!</h2>
        <p class = "repairNavi__section__container__features__item__p">各個車修補方案皆參考日本汽車用品生產廠 SOFT99 及其 DIY 維修子品牌 99工房的官方建議，效果經過真實測試！無論是新手或有整車經驗的車主，都有不同難易度的解決方案可選。包含每個步驟，圖文並茂詳細講解，絕對做得到！</p>
      </div>
      <div class="repairNavi__section__container__features__item"><h2>
        <i class="fas fa-comment-dollar"></i>
        實惠</h2></div>
      <div class="repairNavi__section__container__features__item"><h2>
        <i class="fas fa-chalkboard-teacher"></i>
        超簡單</h2></div>
      <div class="repairNavi__section__container__features__item"><h2>
        <i class="fas fa-tachometer-alt"></i>
        省時</h2></div>
    </div>
  </div>
</div>

<div class="repairNavi__section spacer--white">
  <div class="repairNavi__section__container">
    <div class="repairNavi__section__container__navi" data-naviPage_engagement_type = 'naviPage_engagement_widget'>
      <div class="repairNavi__partSelector__section">
        <div class="repairNavi__partSelector__section__container">
          <h2 class="repairNavi__partSelector__section__container__h2">
            你想維修哪個部位？
          </h2>
          <div class="repairNavi__partSelector__section__container__grid">
            <div
              class="repairNavi__partSelector__section__container__grid__col"
              data-part="Bumper"
            >
              <img src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/i_menu_p01.png?v=1634185708" />
              <h3>泵把 (Bumper)</h3>
            </div>
            <div
              class="repairNavi__partSelector__section__container__grid__col"
              data-part="Body"
            >
              <img src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/i_menu_p02.png?v=1634185708" />
              <h3>車身 (Body)</h3>
            </div>
            <div
              class="repairNavi__partSelector__section__container__grid__col"
              data-part="Wheel"
            >
              <img src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/i_menu_p04.png?v=1634185708" />
              <h3>車鈴 (Wheels)</h3>
            </div>
            <div
              class="repairNavi__partSelector__section__container__grid__col"
              data-part="Glass"
            >
              <img src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/i_menu_p03.png?v=1636801962" />
              <h3>車頭燈 (Headlight)</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="repairNavi__problemSelector__section">
        <div
          class="repairNavi__problemSelector__section__container"
          id="problemSelectorContainer"
        >
          <h2 class="repairNavi__problemSelector__section__container__h2">
            你的情況最接近哪一種？
          </h2>
          <div
            class="repairNavi__problemSelector__section__container__grid"
            id="problemSelectorGrid"
          >
          <!--<p>Please select a part to show the problems</p>-->
        </div>
        </div>
      </div>
      <div class="repairNavi__solutionSelector__section">
        <div class="repairNavi__solutionSelector__section__container">
          <h2 class = "repairNavi__solutionSelector__section__container__h2" id="solutionSelector">
            建議方案
          </h2>
          
          <div class = "repairNavi__solutionSelector__section__container__grid__container" id = "solutionsGridsCont">
           <!-- <p>please select a problem to show solutions</p>-->
            
          
        </div>
        <div id = "solutionEnd"></div>
        </div>
  
  
  
      </div>
    </div>
  </div>
</div>

<div class="repairNavi__section spacer--grey">
  <div class="repairNavi__section__container">
    <div class="repairNavi__section__container__explained">
      <div class="repairNavi__section__container__explained__grid">
        <h2 class="repairNavi__section__container__explained__grid__h2">DIY 修補攻略是什麼？</h2>
        <p class="repairNavi__section__container__explained__grid__p">相信很多車主都試過「揩花」愛車，但到車房維修價錢通常比較高…其實只要有合適的產品，學習少許修補常識的話，你都可以享受 DIY 修補的樂趣！</p>
  </div>
  <img src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/products_ranges.png?v=1634218053" class="repairNavi__section__container__explained__grid__img">
      
    </div>
  </div>
</div>


<div class="spacer__section spacer--white"></div>


<div class="repairNavi__section spacer--white">
  <div class="repairNavi__section__container">
    <div class="repairNavi__section__container__options">
     <!-- <h2 class="repairNavi__section__container__options__h2">Option Menu</h2>-->
      <div class="repairNavi__section__container__options__grids" data-naviPage_engagement_type = 'naviPage_engagement_bigButtons'>
        <a href = "/products/atelier-99-touch-up-pen">
        <div class="repairNavi__section__container__options__grids__item">
          <img src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/markers.png?v=1635331608" alt="" class="repairNavi__section__container__options__grids__item__img">
          <h3 class="repairNavi__section__container__options__grids__item__h3">
            補油筆選色攻略
          </h3>
        </div>
      </a>
      <a href = "/pages/how-to-use-car-repair-tutorial">
        <div class="repairNavi__section__container__options__grids__item">
          <img src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/vincent.png?v=1635331608" alt="" class="repairNavi__section__container__options__grids__item__img">
          <h3 class="repairNavi__section__container__options__grids__item__h3">
            使用指南
          </h3>
        </div>
      </a>
      <a href = "/">
        <div class="repairNavi__section__container__options__grids__item">
          <img src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/All.png?v=1635331608" alt="" class="repairNavi__section__container__options__grids__item__img">
          <h3 class="repairNavi__section__container__options__grids__item__h3">
            MOOBI 本店
          </h3>
        </div>
      </a>
      <a href = "/pages/about-us">
        <div class="repairNavi__section__container__options__grids__item">
          <img src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/carbody.png?v=1635331608" alt="" class="repairNavi__section__container__options__grids__item__img">
          <h3 class="repairNavi__section__container__options__grids__item__h3">
            關於我們
          </h3>
        </div>
      </a>
        
      </div>
    </div>
  </div>
</div>

<div class="spacer__section spacer--yellow"></div>
<div class="featuredArticle__section">
  <div class="featuredArticle__section__container">
    <div class="featuredArticle__section__container__h2container">
      <h2>MOOBI 豆知識.</h2>
    </div>
    <div class="featuredArticle__section__container__item" data-naviPage_engagement_type = 'naviPage_engagement_blog'>
      <h3 class="featuredArticle__section__container__item__title">最新連載</h3>
      
      {% assign beautyBlog = blogs["wisdom-car-beauty"].articles%}
      {% assign tutorialBlog = blogs["car-repairs-tutorial"].articles%}
      {% assign repairBlog = blogs["wisdom-repairs"].articles%}
      {% assign startBlog = blogs["wisdom-startup"].articles%}
      {% assign allBlogs = beautyBlog | concat: tutorialBlog | concat: tutorialBlog | concat: repairBlog | concat: startBlog | sort: "created_at" | reverse%}
      {% for article in allBlogs limit:1%}
        <div class="featuredArticle__section__container__item__article">
          <a href="{{ article.url }}"
            ><img data-src="{{ article.image | img_url: '400x' }}" class = "lazyload" />
            <h3>{{ article.title }}</h3></a
          >
          <span>NEW</span>
          <span>{{ article.author }}</span>
          <span>{{ article.published_at | date: "%b %d, %y" }}</span>
          <div style="height: 15px;"></div>
          <p>{{ article.excerpt | strip_html }}</p>
        </div>
      {% endfor %}

      {% for article in blogs["wisdom-car-beauty"].articles limit:1%}
      {% endfor %}
    </div>
    <div class="featuredArticle__section__container__item">
      <h3 class="featuredArticle__section__container__item__title">熱門豆知識</h3>
      <div class="featuredArticle__section__container__item__article">
        {% render 'typesenseClient--article' attribute: 'data-naviPage_engagement_type' attributeValue: 'naviPage_engagement_blog_widget'%}
    </div>
    </div>

    

  
  </div>
</div>

<div class="collapsibleBanner__section">
  <div class="collapsibleBanner__section__container">
    <div class="collapsible-banner-container">
      <div class="banner-contents-container">
        <img
          src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/window-close.svg?v=1624458562"
          width="18px"
          id="collapsible-banner-close"
        />
        <div class="banner-contents-container__grid">
          <p class="banner-contents-container__title">我們的伙伴:</p>
          <div class="banner-img-container">
            <a
              target="_blank"
              href="/pages/mastercar-cam"
            >
              <img loading = "lazy" class="banner-contents-container__grid__img" alt = "MOOBI 香港網上汽車用品店 聯乘合作伙伴「車師傅」車 CAM優惠" src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/mastercar_logo_300px.png?v=1632909167" width = 100 height = 100/>
            </a>
          </div>
          <div class="banner-img-container">
            <a
              target="_blank"
              href="https://www.facebook.com/IDS.CALL4VAN/posts/4110961195658748"
            >
              <img
                class="banner-contents-container__grid__img"
                alt="MOOBI 香港網上汽車用品店撐合作伙伴「CALL4VAN」，每月回贈好司機"
                src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/AW_Call4Van_Logo_C4V_Engish_Chinese.svg"
                width="100px"
              />
            </a>
          </div>

          <div class="banner-img-container">
            <a
              target="_blank"
              href="http://carwash.hk/Campaigns/MemberBenefits/"
            >
              <img
                class="banner-contents-container__grid__img" style = "max-height: 80px; width: auto;"
                alt = "MOOBI 香港網上汽車用品店 合作伙伴「洗車俠」聯乘大優惠"
                src="https://cdn.shopify.com/s/files/1/0046/0990/0618/files/carwash_logo_color_300px.png?v=1632909142"
                width="100px"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="spacer__section spacer--yellow"></div>

<div class="repairNavi__section spacer--white">
  <div class="repairNavi__section__container">
    <div class="products-slide-section productslidesection-04" data-naviPage_engagement_type = 'naviPage_engagement_product_slider_popular'>
      <a href="/collections/今期流行"
        ><h2 class="products-slide-h2" style = "transform: translateX(15px)">今期流行 ></h2></a
      >
      <i
        id="productslidesection-04left"
        class="fas fa-chevron-circle-left"
      ></i>
      <i
        id="productslidesection-04right"
        class="fas fa-chevron-circle-right"
      ></i>
    
      <div class="products-slide-container productslidecontainer-04">
        {% render 'index-productslider', collection_handle: "recommendation" %}
      </div>
    </div>
  </div>
</div>

<div class="spacer__section spacer--grey"></div>

{% assign brandCollectionHandles =
  "3m,99-atelier,aion,air-spencer,armorall,autosol,black-decker,napolex,seiko,soft-99,stp,turtle-wax-龜牌"
  | split: ',' %}
<div class="repairNavi__section spacer--grey">
  <div class="repairNavi__section__container">
    <div class="featuredCollection__section__container" data-naviPage_engagement_type = "naviPage_engagement_featuredCollections">
      <div class="featuredCollection__section__h2container">
        <h2>我們的品牌.</h2>
      </div>
      {% for collectionHandle in brandCollectionHandles %}
      <div class="featuredCollection__section__container__item">
        <a href="{{ collections[collectionHandle].url }}">
          <div>
            <img src="{{ collections[collectionHandle].image | image_url: width: 200 }}" width = 200 height = 200 loading = "lazy"/>
          </div>
        </a>
        <p>{{ collections[collectionHandle].title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



<div class="spacer__section spacer--grey"></div>
</div>

{% render 'gTag-naviPage_general_init' %}

<script src = "{{ 'script--page--navi.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Repair Navi",
  "settings": [],
  "presets": [
    {
      "name": "Repair Navi"
    }
  ]
}
{% endschema %}
