{{ product.title }}

{% liquid 
  assign sortedDescription = product.description | split: '</h4>' 
  assign sortedQNA = product.description | split: '</h3>' 
  assign qNA = sortedQNA[1] | split: '<script>' 
  assign qNA = qNA[0]
%}

{% for description in sortedDescription offset: 1 %}
  {% unless forloop.last %}
    {{ forloop.index }}
    {% assign content = description | split: '<h4>' %}
    {{ content[0] }}
    {% endunless %}
  {% if forloop.last %}  
    {{ forloop.index }}
    {% assign content = description | split: '<h3>' %}
    {{ content[0] }}
  {% endif %}
{% endfor %}

{% for description in sortedDescription %}
  {% unless forloop.last %}
    {{ forloop.index }}
    {% assign title = description | split: '<h4>' %}
    {{ title[1] }}
    {% endunless %}
  {% if forloop.last %}  
  {% endif %}
{% endfor %}


{{ qNA }}



{% schema %}
{
  "name": "Product description",
  "settings": [
  ],
  "presets": [
    {
      "name": "Product description"
    }
  ]
}
{% endschema %}
